extends ../template

block variables
    - var title = 'Титов'    

block content
    .mortgage
        .mortgage-title
            span Ипотека на квартиры от компании «КВС»
        .mortgage-container
            .mortgage-container-row                
                .mortgage-container-row-box               
                    .mortgage-container-row-column
                        span БАНК
                    .mortgage-container-row-column
                        span СТАВКА
                    .mortgage-container-row-column
                        span ПЕРВОНАЧАЛЬНЫЙ ВЗНОС                    
            .mortgage-container-row
                .mortgage-container-row-box               
                    .mortgage-container-row-column
                        img(src="assets/images/sberbank-icon.svg", alt="")
                        span Сбербанк России
                    .mortgage-container-row-column
                        span от 6%
                    .mortgage-container-row-column
                        span от 20%
                    img.plus-icon(src="assets/images/plus-icon.svg", alt="")
                .mortgage-container-row-container(data-link="mortgage-description.html")
                    .mortgage-container-row-container-row
                        .mortgage-container-row-container-row-column                        
                            span ПРОГРАММА
                        .mortgage-container-row-container-row-column
                            span ПЕРВОНАЧАЛЬНЫЙ ВЗНОС
                        .mortgage-container-row-container-row-column
                            span СРОК
                        .mortgage-container-row-container-row-column
                            span СТАВКА
                    .mortgage-container-row-container-row
                        .mortgage-container-row-container-row-column                        
                            span Ипотека с государственной поддержкой для семей с детьми
                        .mortgage-container-row-container-row-column
                            span от 20%
                        .mortgage-container-row-container-row-column
                            span 1-30 лет
                        .mortgage-container-row-container-row-column
                            span 6%
                .mortgage-container-row-container(data-link="mortgage-description.html")
                    .mortgage-container-row-container-row
                        .mortgage-container-row-container-row-column                        
                            span ПРОГРАММА
                        .mortgage-container-row-container-row-column
                            span ПЕРВОНАЧАЛЬНЫЙ ВЗНОС
                        .mortgage-container-row-container-row-column
                            span СРОК
                        .mortgage-container-row-container-row-column
                            span СТАВКА
                    .mortgage-container-row-container-row
                        .mortgage-container-row-container-row-column                        
                            span Акция на новостройки
                        .mortgage-container-row-container-row-column
                            span от 15%
                        .mortgage-container-row-container-row-column
                            span 1-30 лет
                        .mortgage-container-row-container-row-column
                            span 10.5%
                    
            .mortgage-container-row
                .mortgage-container-row-box               
                    .mortgage-container-row-column
                        img(src="assets/images/vtb-icon.svg", alt="")
                        span ВТБ
                    .mortgage-container-row-column
                        span от 6%
                    .mortgage-container-row-column
                        span от 15%
                    img.plus-icon(src="assets/images/plus-icon.svg", alt="")
                .mortgage-container-row-container(data-link="mortgage-description.html")
                    .mortgage-container-row-container-row
                        .mortgage-container-row-container-row-column                        
                            span ПРОГРАММА
                        .mortgage-container-row-container-row-column
                            span ПЕРВОНАЧАЛЬНЫЙ ВЗНОС
                        .mortgage-container-row-container-row-column
                            span СРОК
                        .mortgage-container-row-container-row-column
                            span СТАВКА
                    .mortgage-container-row-container-row
                        .mortgage-container-row-container-row-column                        
                            span Ипотека с государственной поддержкой для семей с детьми
                        .mortgage-container-row-container-row-column
                            span от 20%
                        .mortgage-container-row-container-row-column
                            span 1-30 лет
                        .mortgage-container-row-container-row-column
                            span 6%
                .mortgage-container-row-container(data-link="mortgage-description.html")
                    .mortgage-container-row-container-row
                        .mortgage-container-row-container-row-column                        
                            span ПРОГРАММА
                        .mortgage-container-row-container-row-column
                            span ПЕРВОНАЧАЛЬНЫЙ ВЗНОС
                        .mortgage-container-row-container-row-column
                            span СРОК
                        .mortgage-container-row-container-row-column
                            span СТАВКА
                    .mortgage-container-row-container-row
                        .mortgage-container-row-container-row-column                        
                            span Акция на новостройки
                        .mortgage-container-row-container-row-column
                            span от 15%
                        .mortgage-container-row-container-row-column
                            span 1-30 лет
                        .mortgage-container-row-container-row-column
                            span 10.5%
            .mortgage-container-row
                .mortgage-container-row-box               
                    .mortgage-container-row-column
                        img(src="assets/images/sngb-icon.svg", alt="")
                        span СНГБ
                    .mortgage-container-row-column
                        span от 9.5%
                    .mortgage-container-row-column
                        span от 20%
                    img.plus-icon(src="assets/images/plus-icon.svg", alt="")
                .mortgage-container-row-container(data-link="mortgage-description.html")
                    .mortgage-container-row-container-row
                        .mortgage-container-row-container-row-column                        
                            span ПРОГРАММА
                        .mortgage-container-row-container-row-column
                            span ПЕРВОНАЧАЛЬНЫЙ ВЗНОС
                        .mortgage-container-row-container-row-column
                            span СРОК
                        .mortgage-container-row-container-row-column
                            span СТАВКА
                    .mortgage-container-row-container-row
                        .mortgage-container-row-container-row-column                        
                            span Ипотека с государственной поддержкой для семей с детьми
                        .mortgage-container-row-container-row-column
                            span от 20%
                        .mortgage-container-row-container-row-column
                            span 1-30 лет
                        .mortgage-container-row-container-row-column
                            span 6%
                .mortgage-container-row-container(data-link="mortgage-description.html")
                    .mortgage-container-row-container-row
                        .mortgage-container-row-container-row-column                        
                            span ПРОГРАММА
                        .mortgage-container-row-container-row-column
                            span ПЕРВОНАЧАЛЬНЫЙ ВЗНОС
                        .mortgage-container-row-container-row-column
                            span СРОК
                        .mortgage-container-row-container-row-column
                            span СТАВКА
                    .mortgage-container-row-container-row
                        .mortgage-container-row-container-row-column                        
                            span Акция на новостройки
                        .mortgage-container-row-container-row-column
                            span от 15%
                        .mortgage-container-row-container-row-column
                            span 1-30 лет
                        .mortgage-container-row-container-row-column
                            span 10.5%
            

        